<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chat</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.min.css" />
  
  </head>
  <body>

<div class="chat">
  
  <div id="sidebar" class="chat__sidebar"></div>
  
  <div class="chat__main">
    <div id="messages" class="chat__messages"></div>

    <div class="compose">
      <button class="compose-button" id="attach-file">Attach File</button>
      <form id="message-form">
        <input name="message" id="messageBox" placeholder="Message" required autocomplete="off" />
        <button class="compose-button" >Send</button>
      </form>
      <button class="compose-button" id="send-location">Send location</button>
      <span id="maxCharacters">0/500 characters</span>
    </div>
  </div>
</div>

<script id="message-template" class="wrapped" type="text/html">
  <div class="message">
    <p>
      <span class="message__name">{{username}}</span>
      <span class="message__meta">{{createdAt}}</span>
    </p>
    <p class="wrapped">{{message}}</p>
  </div>
</script>

<script id="location-message-template" type="text/html">
  <div class="message">
    <p>
      <span class="message__name">{{username}}</span>
      <span class="message__meta">{{createdAt}}</span>
    </p>
    <p><a href="{{url}}" target="_blank">{{placeholder}}</a></p>
  </div>
</script>

<script id="image-preview-template" type="text/html">
  <div class="message">
    <p>
      <span class="message__name">{{username}}</span>
      <span class="message__meta">{{createdAt}}</span>
    </p>
    <p><a href="{{url}}" target="_blank">{{placeholder}}</a></p>
    <img width="150" src="{{url}}">
  </div>
</script>

<script id="sidebar-template" type="text/html">
  <!-- <div class="sidebar-button-list">
    <button class="sidebar-button" onclick="location.href='/logout'">Log Out</button>
    <button class="sidebar-button" onclick="location.href='/join'">Leave Room</button>
  </div> -->
  
  <h2 class="room-title">{{room}}</h2>
  <h3 class="list-title">Users</h3>
  <ul class="users">
    {{#users}}
    <li>{{username}}</li>
    {{/users}}
  </ul>
</script>

<script>
  var textInputElement = document.getElementById('messageBox');
  var nameDivElement = document.getElementById('maxCharacters');
  
  function check() {
    if (textInputElement.value.length > 500) {
      nameDivElement.style.color = "red";
    } else {
      nameDivElement.style.color = "black";
    }
    var text = textInputElement.value.length + "/500 characters"
    nameDivElement.innerHTML = text;
  }
  textInputElement.addEventListener('keyup', check);
  textInputElement.addEventListener('keydown', check)
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
<script src="./js/chat.js"></script>


<%- include('foot') -%>
